.green-background {
  background-color: rgb(0, 71, 27);
}

.cream {
  color: rgb(238, 225, 198);
}

.blue {
  color: rgb(184, 207, 233);
}

.body {
  background-color: rgb(0, 71, 27);
  color: rgb(238, 225, 198);
  font-family: "Georgia", serif;
  
